div
{
    background-color: blue;
}

#myparagraph
{
    background-color: aquamarine;
}

.pilot_section
{
    background-color: aliceblue;
}

#helloworld1
{
    background-color:red;
}

body 
{
    font-family: "Roboto Condensed", sans-serif;
}